@import "https://fonts.googleapis.com/css2?family=Fredoka+One&family=Maven+Pro&display=swap";

html{
    scroll-behavior: smooth;
}

.bg-blue{
    background-color: #023e8a !important;
}

h1,h4,h6{
    font-family: 'Fredoka One', cursive;
}

p{
    font-family: 'Maven Pro', sans-serif;
}

header{
    background: url(img/wave2.svg), url(img/wave1.svg), linear-gradient(to left,#00b4d8, #0096c7, #0055b6);
    background-repeat: no-repeat;
    background-position: bottom ;
    background-attachment: fixed;
}

.nav-link{
    font-size: 1.25rem;
    color: #fff !important;
    transition: .3s ease;
}

.nav-link:hover{
    color: #d8d8d8 !important;
}

.main{
    padding-top: 1rem;
}

.main-text{
    margin-top: 5rem;
    color: #fff
}

.form-group .form-control{
    padding: 1.50rem;
    border: #023e8a 2px solid;
    border-radius: 5px;
}

.circulo{
    position: relative;
    bottom: 50px;   
    font-size: 3.5em;
    width: 100px;
    height: 100px;
    background: #0077b6;
    border: 4px solid #023e8a;
    text-align: center;
    transition: .5s;
    animation-name: flutuacao;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.circulo:hover{
    border: 4px solid #fff;
}

.link-seta{
    display: block;
    color: #023e8a;
    transition: .5s;
}

.link-seta:hover{
    color: #fff;
}

section{
    padding-top: 6rem;
    padding-bottom: 2rem;
    background: linear-gradient(to right,#00b4d8, #0096c7, #0055b6);
    color: #fff;
}

.list-group-item{
    font-weight: 800;
    color: #023e8a;
}

@keyframes flutuacao{
    from{
        padding-top: 0;
    }

    to{
        padding-top: 15px;
    }
}

@media only screen and (min-width: 768px) {
    
    .main{
        padding-top: 6rem;
    }
    
    .main-text{
        margin-top: 10rem;
    }

    section{
        padding-top: 6rem;
        padding-bottom: 2rem;
        background: linear-gradient(to right,#00b4d8, #0096c7, #0055b6);
        color: #fff;
    }   

}